# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate*

# Terraform CLI & credentials
.terraformrc
terraform.rc
.terraform.d/

# Variables sensibles Terraform
secrets.tfvars
# Décommente la ligne suivante si terraform.tfvars.json contient des mots de passe Proxmox :
# terraform.tfvars.json

# Talos & Kubernetes
talos-config/
kubeconfig
*.yaml.patch

# --- Keys & Secrets ---
*.key
*.pem
*.crt
*.env
*.secret
*.ini

# --- Ansible ---
*.retry
collections/
ansible.log
.vault_pass
vault_password.txt
hosts.yml

# --- System & Editors ---
.vscode/
.idea/
.DS_Store
*.swp
*.pyc
__pycache__/